doctype html
html
  head
    title Конкретный пользователь
  body
    main
      div.user 
        p.username Username: #[span= user.username]
        p.email Email: #[span= user.email]
        p.id ID: #[span= user.id]
        button.delete Удалить пользователя
        button
          a(href='/users') К списку пользователей
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src='/views/userListener.js')